[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C=AU
ST=invalid
L=invalid
O=Do not trust unless in development
OU=.
emailAddress=invalid@invalid.com
CN = localhost