@import 'variables.scss';

.login, .reset-password {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    header {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;

        .logo {
            display: block;
            width: 300px;
            height: 40px;
            padding: 10px;

            @media (min-width: $media-medium) {
                width: 450px;
                height: 60px;                    
            }
        }

        .language {
            margin-left: auto;
            margin-right: 20px;
            text-align: right;

            @media (min-width: $media-small) {
                margin-top: -40px;
            }

            @media (min-width: $media-medium) {
                margin-top: -50px;
            }
        }
    }

    .login-inputs {
        display: flex;
        flex-direction: column;
        width: 250px;
        border: $border;
        border-radius: $border-radius;
        padding: 10px;
        margin-top: 40px;
    }
}